

    <div class="chat-title">
      <div class="room-title">techroom1</div>
      <div class="chat-close-btn"><a href="#">チャットを終了する</a></div>
    </div>

    <div class="messages">
      <div class="message">
        <div class="upper-message">
          <div class="message-name">Tom</div>
          <div class="message-date">2022/10/29(Sat) 10:40:00</div>
        </div>
          <div class="lower-message">
            <div class="message-text">おはよう</div>
        </div>
      </div>

      <div class="message">
        <div class="upper-message">
          <div class="message-name">Tom</div>
          <div class="message-date">2022/10/29(Sat) 10:40:00</div>
        </div>
          <div class="lower-message">
            <div class="message-text">おはよう</div>
        </div>
      </div>
    </div>

    <div class="form">
      <div class="form-input">
        <input type="text" placeholder="type a message" class="form-text">
        <label class="form-image">
          <span class="image-file">画像</span><input type="file" class="hidden">
        </label>
      </div>
      <input type="submit" value="送信" class="submit-btn">
    </div>